<form [formGroup]="dropListForm" (change)="formChange()">
    <div class="form-group">
        <label>{{ dropListLabel }}</label>
        <select class="form-control" id="dropListInput" formControlName="dropListInput"
            [ngClass]="{ 
            'is-valid' : dropListForm.controls.dropListInput.status === 'VALID',
            'is-invalid' : dropListForm.controls['dropListInput'].errors && (dropListForm.controls.dropListInput.dirty || dropListForm.controls.dropListInput.touched)
        }">
            <option aria-readonly="true" disabled>Selecciona</option>
            <option *ngFor="let t of dropListData; let i = index" [ngValue]="t">
                {{t.name | uppercase }}
            </option>
        </select>
        <div *ngIf="dropListButton && dropListButtonPosition === 'right'" class="button-right">
            <reusable-button [isStyled]="'btn btn-primary'" [label]="'Ver'" [inProgress]="'Cargando...'"
                [isDisabled]="isDisabled" (click)="dropListAction()"></reusable-button>
        </div>
    </div>
    <div class="form-group" *ngIf="dropListButton && dropListButtonPosition === 'bottom'">
        <reusable-button [isStyled]="'btn btn-primary btn-lg btn-block'" [label]="'Siguiente'"
            [inProgress]="'Cargando...'" [isDisabled]="isDisabled" (click)="dropListAction()"></reusable-button>
    </div>
</form>