table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
.loading {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.menu-spacer {
  flex: 1 1 auto;
}